.container {
  max-width: 1600px;
}
.header {
  padding-top: 55px;
  text-align: center;
  color: #323232;
  font-family: Open Sans;
  font-size: 44px;
}
.lines {
  width: 132px;
  height: 3.98px;
  background-color: #339bd4;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 61px;
}
.img-section {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
}
.img-section__item {
  font-family: Open Sans;
  font-size: 26px;
  margin-bottom: 80px;
}
.passive {
  color: #9698a5;
}
.active {
  color: #323232;
}
.job-section {
  display: flex;
  flex-direction: column;
}
.job {
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 740px;
  min-height: 70px;
  display: flex;
}
.job div {
  position: relative;
  margin: 20px;
  width: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}
.job div i {
  color: blue;
  margin-right: 13px;
}
.fa-chevron-down {
  position: absolute;
  right: 0;
  font-size: 1rem;
}
.job .description {
  background: #fdfdfd;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  width: 638px;
  padding: 10px;
  display: none;
  text-align: center;
}
.job .description-text {
  text-align: left;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}
.open {
  display: block !important;
}
.send-button {
  width: 180px;
  height: 46px;
  background: #2b9ad6;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
form {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  max-width: 500px;
}
form input {
  width: 50%;
}
.name-form {
  width: 45%;
}
.submit-form {
  text-align: center;
}
.submit-form input {
  width: 30%;
  padding: 15px;
  background-color: red;
  color: white;
  border: none;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.activeImg {
  color: blue;
}